
body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* header */
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  margin-bottom: 16px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.toolbar .links {
  display: flex;
  gap: 1rem;
}

.toolbar .links a {
  text-decoration: none;
  color: black;
}

.btn {
  background: #000;
  color: #fff !important;
  padding: 5px 12px;
  text-decoration: none;
  border-radius: 6px;
  font-size: 14px;
}


section {
  padding: 60px 80px;
}

/* Intro */
.intro {
  display: flex;
  align-items: right;
  justify-content: space-between;
  background: #f0f0f0;
  flex-wrap: wrap;
}
.intro-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.intro-text {
  flex: 1;
  padding-right: 20px;
}

.intro-text h1 {
  font-size: 32px;
  margin-bottom: 15px;
}

.intro-img {
  width: 300px;
  border-radius: 15px;
  max-width: 100%;
}

/* About */
.about {
  background: #fff;
  padding: 60px 80px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.about-img {
  width: 320px;
  border-radius: 15px;
  flex-shrink: 0;
}

.about-text {
  flex: 1;
  text-align: left;
}

.about-text h2 {
  display: inline-block;
  background: #c4c9cc;
  padding: 6px 18px;
  border-radius: 999px;
  font-size: 14px;
}

.about-text p {
  max-width: 700px;
}
/* skills */
.skills {
  background: #f0f0f0;
  padding: 60px 80px;
  text-align: center;
}

.skills h2 {
  display: inline-block;
  background: #c4c9cc;
  padding: 6px 18px;
  border-radius: 999px;
  font-size: 14px;
}

.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.skills-container .skill-description {
  width: 100%;
  margin-bottom: 20px;
  
}

.skill-img {
  width: 100px; 
  height: 100px; 
  object-fit: contain; 
  border-radius: 10px; 
  transition: transform 0.3s;
}

.skill-img {
  transform: scale(1.1); 
}

/* Experience */
.experience {
  background: #fff;
  padding: 60px 80px;
  text-align: center;
  border-radius: 20px;
}

.experience h2 {
  display: inline-block;
  background: #c4c9cc;
  padding: 6px 18px;
  border-radius: 999px;
  font-size: 14px;
}
.experience-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.experience-description {
  width: 100%;
  margin-bottom: 20px;
}

.experience-card {
  display: flex;
  align-items: flex-start;
  background: #e1dada;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  gap: 20px;
  width: 100%;
  max-width: 700px;
}

.company-img {
  width: 80px;
  height: auto;
}

.experience-details {
  flex: 1;
  text-align: left;
}

.experience-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.experience-header h3 {
  font-size: 18px;
}
.experience-details ul {
  margin: 10px;
  padding-left: 20px;
}

.experience-details li {
  margin-bottom: 6px;
  font-size: 15px;
  color: #444;
}
/* Work */
.work {
  background: #f0f0f0;
  padding: 60px 80px;
  text-align: center;
}

.work h2 {
  display: inline-block;
  background: #c4c9cc;
  padding: 6px 18px;
  border-radius: 999px;
  font-size: 14px;
}

.work-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.work-container .skill-description {
  width: 100%;
  margin-bottom: 20px;
  
}




